@charset "utf-8";

#topNavWrap{position:relative;width:100%;max-width:1200px;height:100px;margin:0 auto}

/* 로고 */
#top_logo{position:absolute;left:0;top:50%;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%)}
#top_logo a img{max-height:35px}

#topNavWrap .right{float:right}
#top_nav{margin-right:72px}
#top_nav:after{display:block;content:'';clear:both}
#top_nav>li{float:left;position:relative;padding:0 30px;font-size:17px;color:#222;letter-spacing:-0.3px;text-align:center;font-family:'notokr-medium'}
#top_nav>li>a{display:block;color:#222;line-height:100px;zoom:1;transition:all .3s}
#top_nav>li>a:hover{color:#222}
#top_nav ul{display:none;position:absolute;top:100px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);min-width:160px;border-radius:0 0 6px 6px;background-color:#fff}
#top_nav ul li{font-size:15px}
#top_nav ul li+li{border-top:1px solid #e1e1e1}
#top_nav ul a{display:block;color:#999;-webkit-transition:all .3s;transition:all .3s;font-family:'notokr-medium'}
#top_nav ul a:hover{color:#222}
#top_nav ul>li>a{padding:13px 20px}

/* 전체메뉴배경 */
.top_nav_bg{position:fixed;width:100%;display:none;top:125px;height:140px;background:#fff;-webkit-box-shadow:0px 12px 12px -17px rgba(0,0,0,0.25);box-shadow:0px 12px 12px -17px rgba(0,0,0,0.25)}

/* 메뉴버튼 */
#allBtn{position:absolute;right:0;top:50%;z-index:101;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);cursor:pointer}
#allBtn span{display:block;width:23px;height:11px;-webkit-transition:all .2s;transition:all .2s}
#allBtn span:before,#allBtn span:after{content:'';position:absolute;width:23px;height:2px;-webkit-transition:all .2s;transition:all .2s}
#allBtn span:before{top:0;left:0;background-color:#222}
#allBtn span:after{bottom:0;right:0;width:13px;background-color:#488dba}
#allBtn.active{z-index:200}
#allBtn.active span{height:2px}
#allBtn.active span:before{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
#allBtn.active span:after{width:23px;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}

/* 메뉴오픈 */
#allWrap{display:none;position:fixed;top:0;left:0;z-index:100;width:100%;height:100%;padding:0 15px;color:#08151d;-webkit-transform:translateY(50px);-ms-transform:translateY(50px);transform:translateY(50px);background-color:#fff;-webkit-transition:transform .6s;transition:transform .6s}
#allWrap.active{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
#allWrap .inner{position:relative;width:100%;max-width:1100px;height:100%;margin:0 auto}
#allWrap .cs{overflow:hidden;position:relative;width:100%;margin-top:100px;padding:55px 65px;border:1px solid #e1e1e1;border-radius:30px;font-family:'Philosopher'}
#allWrap .ci{position:absolute;left:65px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
#allWrap .txt{overflow:hidden;float:right}
#allWrap .txt img{float:left;margin-top:35px}
#allWrap .wrap{float:left;margin-left:20px}
#allWrap .wrap .ballon{position:relative;padding:17px;border-radius:25px;font-size:21px;color:#fff;text-align:center;background:#222;font-family:'notokr-medium'}
#allWrap .wrap .ballon:after{position:absolute;content:'';bottom:-5px;left:0;width:28px;height:21px;background:url(/sh_img/hd/top_menu/ballon.png) no-repeat}
#allWrap .wrap .num{margin-top:20px;color:#222}
#allWrap .wrap .tel{display:inline-block;font-size:26px;font-weight:700}
#allWrap .wrap .etc{display:inline-block;margin-left:40px;font-size:14px;line-height:24px;color:#222}
#allWrap .tit{float:left;margin-right:65px;font-size:15px;font-weight:700;color:#a2a2a2;font-family:'Philosopher'}
#allWrap .sitemap{position:relative;overflow:hidden;margin-top:60px;padding:0 40px}
#allWrap .sitemap > ul{float:left}
#allWrap .sitemap > ul:after{display:block;content:"";visibility:hidden;clear:both}
#allWrap .sitemap > ul > li{float:left}
#allWrap .sitemap > ul > li+li{margin-left:90px}
#allWrap .sitemap .bmn{display:inline-block;position:relative;margin-bottom:30px;font-size:22px;color:#08151d;letter-spacing:-.5px;-webkit-transition:all .2s;transition:all .2s;font-family:'notokr-medium'}
#allWrap .sitemap .bmn:after{opacity:0;display:block;content:"";position:absolute;left:0;bottom:0;width:12px;height:2px;margin-bottom:-10px;background-color:#08151d;-webkit-transition:all .2s;transition:all .2s}
#allWrap .sitemap > ul > li:hover .bmn:after{opacity:1;margin-bottom:-20px}
#allWrap .sitemap > ul > li:hover .bmn{-webkit-transform:translateY(-5px);-ms-transform:translateY(-5px);transform:translateY(-5px)}
#allWrap .sitemap .smn li a{font-size:15px;line-height:2;color:#888;-webkit-transition:color .2s;transition:color .2s;font-family:'notokr-regular'}
#allWrap .sitemap .smn li a:hover{color:#08151d}

/* 반응형 메뉴 [s] */
#topmenuM{display:none;position:relative;width:100%;padding:22px 15px;line-height:1.8;background-color:#fff;font-family:'notokr-regular'}
#mo_top{display:none}
#mo_top ul{display:flex}
#mo_top ul li{width:calc(100%/3);color:#fff;background:#5780f7}
#mo_top ul li+li{border-left:1px solid rgba(255,255,255,.2)}
#mo_top ul li a{display:flex;justify-content:center;align-items:center;height:40px;transform:rotate(-0.1deg);font-size:13px;color:#fff;font-family:'NEXEN_TIRE_Bold';}
#mo_top ul li a i{display:flex;justify-content:center;align-items:center;width:20px;height:20px;margin-left:10px;border-radius:100%;font-size:10px;background:rgba(255,255,255,.3)}

/* 로고 */
#m_logo{position:relative}
#m_logo a{display:inline-block}
#m_logo img{max-height:27px}

/* 상단 버튼 및 오픈메뉴 */
#m_navBtn{position:absolute;top:18px;right:15px;z-index:5;width:30px;height:30px}
#m_navBtn span{display:block;position:relative;top:50%;transform:translateY(-50%);width:100%;height:2px}
#m_navBtn span:before, #m_navBtn span:after{display:block;content:"";position:absolute;top:-6px;width:30px;height:2px;background-color:#222;-webkit-transition:all .1s;transition:all .1s}
#m_navBtn span:after{top:6px;width:16px;right:0;background-color:#488dba}
#m_navBtn.on{position:fixed}
#m_navBtn.on span:before{top:0;right:-4px;transform:rotate(45deg)}
#m_navBtn.on span:after{top:0;right:-4px;width:30px;transform:rotate(-45deg);background-color:#222}
#navWrap{display:none;position:fixed;left:0;top:0;z-index:4;width:100%;height:100%;background-color:rgba(0,0,0,.7)}
#navWrap .inner{overflow-y:scroll;opacity:0;position:fixed;right:-40px;top:0;z-index:6;min-width:300px;width:75%;height:100%;padding:60px 0;background-color:#fff;-webkit-transition:all .1s;transition:all .1s}
#navWrap.on .inner{opacity:1;right:0;-webkit-transition:all .4s;transition:all .4s}
#navWrap .inner:before, #navWrap .inner:after{opacity:0;display:block;position:fixed;top:0;right:-40px;z-index:1;content:"";min-width:300px;width:70%;height:60px;background-color:#fff;-webkit-transition:all .1s;transition:all .1s}
#navWrap .inner:after{top:auto;bottom:0}
#navWrap.on .inner:before, #navWrap.on .inner:after{opacity:1;right:0;-webkit-transition:all .4s;transition:all .4s}
#navWrap .inner .mo_hd_copy{position:fixed;right:0;bottom:15px;z-index:2;min-width:300px;width:70%;font-size:12px;text-align:center;color:#888}
#navWrap .user_tip{padding:10px 20px;background-color:#f5f5f5}
#navWrap .user_tip li{display:inline-block}
#navWrap .user_tip li+li{margin-left:10px}

/* 대분류 */
#topmenuM .m_lnb .m_bmenu{display:block;position:relative;width:100%;height:52px;padding:0 20px;border:none;border-bottom:1px solid #ddd;background:none;font-size:16px;line-height:52px;color:#222;text-align:left;font-family:'notokr-medium'}
#topmenuM .m_lnb .m_bmenu:after{float:right;content:"\f107";font-family:'fontawesome'}
/*#topmenuM .m_lnb .m_bmenu.on:after{content:"\f106"}*/

/* 소분류 */
#topmenuM .m_smenu{display:none;padding:15px 20px;border-bottom:1px solid #ddd;background-color:#f2f3f5}
#topmenuM .m_smenu li a{font-size:14px;color:#777}

@media (max-width:1230px){
#top_logo{left:15px}
#allBtn{right:15px}
#allWrap .sitemap > ul{width:100%;margin-top:30px}
}

@media (max-width:1024px){
#sh_hd_wrapper{position:relative !important}
#topNavWrap{display:none}
#topmenuM{display:block}
#mo_top{display:block}
}
/* 반응형 메뉴 [e] */

