@charset "utf-8";

#atc02{position:relative;z-index:2;border-bottom:1px solid #e1e1e1;background:url(/sh_img/include/inc02/img/inc02_bg.jpg) no-repeat center top}

/*txt_area*/
#atc02 .inner{position:relative;width:100%;max-width:1200px;margin:0 auto;padding:110px 0;color:#fff}
#atc02 .inner:after{content:'';position:absolute;right:-360px;top:0;width:360px;height:100%;background-color:rgb(0,0,0,.08)}

#atc02 .inner:before{content:'';position:absolute;left:0;top:0;width:1px;height:100%;margin-left:-80px;background-color:rgba(239,239,239,.12)}
#atc02 .inner .txt_all{position:relative;padding:0 40px 52px}
#atc02 .inner .stit{margin-bottom:32px;font-size:17px;font-weight:700;letter-spacing:0;line-height:17px;font-family:'Philosopher'}
#atc02 .inner .tit_area{text-align:center}
#atc02 .inner .tit_area .tit{font-size:50px;line-height:1.3;letter-spacing:-1px;font-family:'notokr-thin'}
#atc02 .inner .tit_area .tit b{display:inline-block;position:relative;font-weight:normal;font-family:'notokr-bold'}
#atc02 .inner .txt_area .bubble_txt{display:inline-block;position:relative;margin-top:15px;border-radius:20px}
#atc02 .inner .txt_area .bubble_txt:before{content:'';position:absolute;left:50%;bottom:0;z-index:-1;transform:translateX(-50%);width:calc(100% + 20px);height:25px;background-color:rgba(255,255,255,.1)}
#atc02 .inner .txt_area .txt{font-size:28px;white-space:pre-line;color:#fff}

/*slide*/
#atc02 #slide_box{width:100%}
#atc02 .pager_dot{display:flex;justify-content:center;column-gap:10px;}
#atc02 .pager_dot span{display:block;width:9px;height:9px;background-color:rgba(25,74,108,.25);border-radius:50%;text-indent:9999px;opacity:1;-webkit-transition:all .3s;-ms-transition:all .3s;transition:all .3s}
#atc02 .pager_dot .swiper-pagination-bullet-active{background-color:#194a6c}
#atc02 .slide_control{display:flex;align-items:center;justify-content:center;column-gap:20px;margin-top:45px}
#atc02 .slide_control p{display:flex;align-items:center;justify-content:center;z-index:1;width:65px;height:65px;border-radius:100%;border:1px solid #e1e1e1;font-size:18px;color:#222;background:#fff;cursor:pointer}
#atc02 .slide_control p.next{left:0}
#atc02 .slide_control p.prev{right:0}

/*slide_img*/
#atc02 .slide li{overflow:hidden;width:100% !important;border-radius:30px;background:no-repeat center;background-size:cover}
#atc02 .slide li iframe{display:block;width:100% !important;height:670px}


/* 반응형 [s] */
@media (max-width:1230px){
#atc02 .inner{padding:90px 30px}
}
@media (max-width:1024px){
#atc02 .inner{padding:70px 30px}
#atc02 .inner .tit_area .tit{font-size:35px}
#atc02 .inner .txt_area .txt{font-size:23px}
#atc02 .inner .txt_area .bubble_txt:before{height:18px}
#atc02 .slide li iframe{height:550px}
#atc02 .slide_control p{top:23px;width:60px;height:60px}
}
@media (max-width:768px){
#atc02{background-size:1400px}
#atc02 .inner{padding:70px 15px}
#atc02 .inner .txt_all{padding:0 0 52px}
#atc02 .inner .tit_area .tit{font-size:30px}
#atc02 .inner .txt_area .txt{font-size:20px}
#atc02 .slide li iframe{height:410px}
#atc02 .slide_control p{width:40px;height:40px;font-size:15px}
}
@media (max-width:480px){
#atc02{background-size:1100px}
#atc02 .inner{padding:50px 15px}
#atc02 .inner .txt_all{padding-bottom:45px}
#atc02 .inner .tit_area .tit{font-size:25px}
#atc02 .inner .tit_area .tit b{display:block}
#atc02 .inner .txt_area .txt{font-size:16px}
#atc02 .inner .txt_area .bubble_txt:before{height:10px}
#atc02 .slide li iframe{height:250px}
#atc02 .slide_control p{font-size:13px}
#atc02 .slide_control{margin-top:30px;column-gap:15px}
}
@media (max-width:380px){
}
/* 반응형 [e] */