@charset "utf-8";

#atc04{overflow:hidden;padding:125px 0 150px;background:url(/sh_img/include/inc04/img/inc04_bg.jpg) no-repeat center bottom #f5f5f5 }
#atc04 .inner{width:100%;max-width:1200px;margin:0 auto;text-align:center}
#atc04 .inner .stit{margin-bottom:60px;font-size:17px;font-weight:700;line-height:15px;letter-spacing:0;color:#0066e0;font-family:'Philosopher'}
#atc04 .inner .tit_area{position:relative;padding:0 40px}
#atc04 .inner .tit_area:after{display:block;clear:both;content:''}
#atc04 .inner .tit_area .tit{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:100%;font-size:35px;line-height:1.4;color:#222;letter-spacing:-1px;font-family:'notokr-light'}
#atc04 .inner .tit_area .tit b{display:block;font-family:'notokr-bold'}

/*slide btn*/
#atc04 .prev{float:left;padding-left:30px}
#atc04 .prev:after{left:0}
#atc04 .prev:before{left:10px}
#atc04 .prev:before, #atc04 .prev:after{content:"\f177"}
#atc04 .next{float:right;padding-right:30px}
#atc04 .next:after{right:0}
#atc04 .next:before{right:10px}
#atc04 .next:before, #atc04 .next:after{content:"\f178"}

/*slide btn all*/
#atc04 .contols{cursor:pointer;position:relative;z-index:10;font-size:15px;font-weight:700;color:#2d3c46;letter-spacing:0;font-family:'Philosopher'}
#atc04 .contols:before{opacity:0}
#atc04 .contols:before, #atc04 .contols:after{display:block;position:absolute;top:1px;transition:all .3s;font-weight:normal;font-family:'fontawesome'}

/*slid*/
#atc04 .gallery_box{margin-top:95px}
#atc04 .gallery_box .gall li{width:380px}
#atc04 .gallery_box .gall li img{width:100%;border-radius:15px}
#atc04 .gallery_box .gall li a{display:block}
#atc04 .gallery_box .gall li .thum{overflow:hidden;height:300px;margin-bottom:26px;border-radius:15px;background-size:cover}
#atc04 .gallery_box .gall li.img01 .thum{background-image:url('/sh_img/include/inc04/img/img01.jpg')}
#atc04 .gallery_box .gall li.img02 .thum{background-image:url('/sh_img/include/inc04/img/img02.jpg')}
#atc04 .gallery_box .gall li.img03 .thum{background-image:url('/sh_img/include/inc04/img/img03.jpg')}
#atc04 .gallery_box .gall li.img04 .thum{background-image:url('/sh_img/include/inc04/img/img04.jpg')}
#atc04 .gallery_box .gall li.img05 .thum{background-image:url('/sh_img/include/inc04/img/img05.jpg')}
#atc04 .gallery_box .gall li.img06 .thum{background-image:url('/sh_img/include/inc04/img/img06.jpg')}
#atc04 .gallery_box .gall li.img07 .thum{background-image:url('/sh_img/include/inc04/img/img07.jpg')}
#atc04 .gallery_box .gall li.img08 .thum{background-image:url('/sh_img/include/inc04/img/img08.jpg')}
#atc04 .gallery_box .gall li.img09 .thum{background-image:url('/sh_img/include/inc04/img/img09.jpg')}
#atc04 .gallery_box .gall li.img10 .thum{background-image:url('/sh_img/include/inc04/img/img10.jpg')}
#atc04 .gallery_box .gall li .gall_tit{width:100%;padding-left:38px;font-size:16px;letter-spacing:-0.5px;color:#fff;transition:all .3s;font-family:'notokr-medium'}
#atc04 .gallery_box .more_gall{display:block;position:relative;width:250px;height:65px;margin:75px auto 0;border:1px solid rgba(255,255,255,.2);border-radius:34px;font-size:15px;letter-spacing:-0.5px;text-align:center;line-height:65px;color:#fff;transition:all .3s;font-weight:700;font-family:'Philosopher'}
#atc04 .gallery_box .more_gall i{position:relative;bottom:0;font-size:13px;margin-right:15px}

#atc04 .bt_tel{margin-top:34px;text-align:center;font-size:35px;color:rgba(255,255,255,.7);font-family:'notokr-bold'}
#atc04 .bt_tel i{width:65px;height:65px;margin-right:20px;border-radius:100%;font-size:28px;text-align:center;line-height:65px;color:#2e7cae;background:#fff}
#atc04 .bt_tel span{margin-left:11px;font-weight:700;letter-spacing:0;color:#fff;font-family:'Poppins'}

/* 모바일 호버 X */
@media (hover: hover) {
#atc04 .prev:hover:before{left:0}
#atc04 .prev:hover:after{left:-10px}
#atc04 .next:hover:before{right:0}
#atc04 .next:hover:after{right:-10px}
#atc04 .contols:hover:before{opacity:1;-webkit-transition-delay:.1s;transition-delay:.1s}
#atc04 .contols:hover:after{opacity:0}
#atc04 .gallery_box .more_gall:hover{border:1px solid rgba(255,255,255,.5)}
}

/* 반응형 [s] */
@media (max-width:1230px){
#atc04{padding:90px 0}
#atc04 .inner .tit_area .tit{width:100%;font-size:30px;word-break:keep-all}
#atc04 .inner .tit_area{padding:0 30px}
#atc04 .gallery_box .gall li .gall_tit{padding-left:20px}
}
@media (max-width:1230px){
#atc04 .inner .stit{margin-bottom:75px}
#atc04 .inner .tit_area .tit{width:70%;white-space:pre-line}
#atc04 .bt_tel{font-size:30px}
#atc04 .bt_tel i{width:60px;height:60px;font-size:25px;line-height:60px}
}
@media (max-width:768px){
#atc04{padding:70px 0}
#atc04 .inner .stit{margin-bottom:25px;font-size:15px}
#atc04 .inner .tit_area{padding:0 15px 50px}
#atc04 .inner .tit_area .tit{position:initial;transform:none;width:100%;font-size:28px;line-height:38px}
#atc04 .contols{position:absolute;bottom:0;font-size:13px}
#atc04 .contols.prev{left:15px}
#atc04 .contols.next{right:15px}
#atc04 .gallery_box{margin-top:35px}
#atc04 .gallery_box .gall li .gall_tit{font-size:15px}
#atc04 .gallery_box .more_gall{margin-top:50px;font-size:13px}
#atc04 .bt_tel{font-size:25px}
#atc04 .bt_tel i{width:50px;height:50px;font-size:20px;line-height:50px}
}
@media (max-width:480px){
#atc04{padding:50px 0}
#atc04{background-size:1300px}
#atc04 .inner .tit_area{padding:0 15px}
#atc04 .inner .tit_area .tit{font-size:23px;line-height:33px}
#atc04 .contols{display:none}
#atc04 .contols:before, #atc04 .contols:after{font-size:15px}
#atc04 .bt_tel{display:none}
}
@media (max-width:380px){
#atc04{background-size:1000px}
#atc04 .gallery_box{padding:0 15px}
#atc04 .gallery_box .gall li{width:100%}
#atc04 .gallery_box .gall li .gall_tit{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
#atc04 .gallery_box .more_gall{width:100%;height:60px;line-height:60px}
}
/* 반응형 [e] */